*,
*:before,
*:after {
  box-sizing: border-box;
}

button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

  .list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

.noscroll,
.noscroll body {
  overflow: hidden;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

body {
  font-family: var(--font-noto);
}

button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}



