.footer {
    position: relative;
}

.footer__fond {
    position: absolute;
    height: 156px;
    width: 375px;
    left: 0px;
    top: 1809px;   
}

.footer__question {
    position: relative;
    font-size: 12px;
    height: 16px;
    width: 85px;
    left: 24px;
    top: 1842px;
}

.footer__btnquestion {
    position: relative;
    height: 25px;
    width: 118.75px;
    left: 157px;
    top: 1810px;
    border-radius: 12.5px;    
}

.footer__mailto {
    height: 29px;
    width: 29px;
    left: 312px;
    top: 1847px;    
}

.footer__NP {
    position: relative;
    font-size: 14px;
    height: 26px;
    width: 118px;
    left: 24px;
    top: 1800px;
}

.footer__projet {
    position: relative;
    font-size: 10px;
    font-weight: bold;
    height: 33px;
    width: 275px;
    left: 24px;
    top: 1790px;

}

.footer__txtmmi {
    position: relative;
    color: var(--red);
}

.footer__LogoMMI {
    position: relative;
    height: 61px;
    width: 52px;
    left: 303px;
    top: 1725px;
}