.head {
  z-index: 3;
  background-color: var(--white);
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 105px;
}

.header__start,
.header__end {
  display: flex;
}
.header__start{
  align-items: center;
}

/*.header_fond{
  width: 100%;
  position: absolute;
}*/

/*.header__logo {
  position: relative;
  height: 100px;
  width: 257px;
  left: 18px;
  top: 21px;
  margin-bottom: 20px;
}*/

.header__logo {
  z-index: 3;
  background-color: var(--white);
}

.header__logo2 {
  position: relative;
  width: 287px;
  height: 80px;
  left: 9px;
  top: 30px;
}

.header--atTop {
  background-color: var(--white);
}
