/* CSS pour les articles */

/* Textes */

.hero__text {
    margin-left: 6.133vw;
    margin-right: 6.133vw;
}

.title__frise {
    font-family: var(--noto-serif);
    font-size: var(--heading-3);
    color: var(--grey);
    font-weight: bold;
}

.section__article1 {
    margin-top: 7.5rem;
}

.section__article2 {
    margin-top: 9.375rem;
}

.section__article3 {
    margin-top: 9.375rem;
}

/* Images */

.art__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width:50%;
    min-height:50%;
}

.fleche__g {
    margin-left: 49.600vw;
 }

/* Frise de l'article 1 */

.frise {
    display: flex;
    top: 52%;
    width: 100%;
    height: 50%;
    overflow-x: scroll;
}

.frise__title {
    color: var(--grey);
    font-weight: bold;
    font-size: 18px;
    margin-left: 6.933vw;
    margin-right: 7.733vw;
}

.frise__image {
    width: 200%;
}

/* Boutons à la fin des articles */

    /* Bouton de gauche */

.art_btn {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 5.333vw;
    margin-right: 5.333vw;
    margin-bottom: 1rem;
}

.art_btn-g {
    display: block;
    text-decoration: none;
}

.art_btn-fig-g {
    display: flex;
    flex-direction: column;
    background-color: var(--beige-3); 
    border-radius: 0.188rem 0.188rem 0rem 0rem;
    box-shadow: 0rem 0.198rem 0.198rem rgba(0, 0, 0, 0.25);
    padding-top: 0.5rem;
    padding-left: 2.133vw;
    padding-right: 2.133vw;
    margin-right: 5.333vw;

}

.art_btn-img-g {
    border-radius: 0.188rem 0.188rem 0rem 0rem;
}

.art_btn-figcap {
    background-color: var(--white);
    padding-top: 0.625rem;
    margin-left: -2.133vw;
    margin-right: -2.133vw;
    border-radius: 0rem 0rem 0.188rem 0.188rem;
}
#art_btn-3 {
    padding-top: 0.313rem;
    padding-bottom: 0.625rem;
}

.art_btn-title-g {
    font-family: var(--noto-serif);
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    color: var(--black);
    text-shadow: 0rem 0.198rem 0.198rem rgba(0, 0, 0, 0.25);
    background-color: var(--white);
    padding-top: 0.625rem;
    padding-bottom: 0.938rem;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}


