/* CSS pour les articles */

/* Textes */

.hero__text {
    margin-left: 23px;
    margin-right: 23px;
}

.title__frise {
    font-family: var(--noto-serif);
    font-size: var(--heading-3);
    color: var(--grey);
    font-weight: bold;
}

.section__article1 {
    margin-top: 120px;
}

.section__article2 {
    margin-top: 150px;
}

.section__article3 {
    margin-top: 150px;
}

/* Images */

.art__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width:50%;
    min-height:50%;
}

.fleche__g {
    margin-left: 186px;
 }

/* Frise de l'article 1 */

.frise {
    display: flex;
    top: 52%;
    width: 100%;
    height: 50%;
    overflow-x: scroll;
}

.frise__title {
    color: var(--grey);
    font-weight: bold;
    font-size: 18px;
    margin-left: 26px;
    margin-right: 29px;
}

.frise__image {
    width: 200%;
}


