/* CSS Autres Projets */

/* Titres */
.ap__title {
    background-color: var(--beige-2);
    padding: 10px;
    padding-bottom: 14px;
    color: var(--black);
    font-size: 16px;
    margin-right: 50px;
}

.ap__sub-title-d {
    background-color: var(--beige-1);
    margin-left: 24vw;
    padding: 10px;
    padding-right: 30px;
    padding-bottom: 14px;
    color: var(--black);
    font-size: 13px;
    text-align: right;
}

.ap__sub-title-g {
    background-color: var(--beige-1);
    margin-right: 24vw;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 14px;
    color: var(--black);
    font-size: 13px;
    text-align: left;
}

.md {
    font-size: 12px;
    margin-left: 18.667vw;
}

.fd {
    font-size: 12px;
    margin-right: 18.667vw;
}

/* Images */

.ap__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width:50%;
    min-height:50%;
}