.hero {
    z-index: 1;
}
.hero__img {
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    z-index: 0;
}

/* Textes en commun sur toutes les pages */
figcaption {
    color: var(--grey);
    font-size: 11px;
    text-align: center;
}


.hero__title {
    font-family: var(--noto-serif);
    font-size: var(--heading-1);    
    color: var(--red);
    font-weight: bold;
}

.hero__sub-title {
    font-family: var(--noto-serif);
    font-size: var(--heading-2);
    color: var(--grey);
    font-weight: bold;
    margin-left: 23px;
}
 p {
    font-family: var(--noto-serif);
    font-size: var(--body-2);
    color: var(--grey);
 }

.title__frise {
    font-family: var(--noto-serif);
    font-size: var(--heading-3);
    color: var(--grey);
    font-weight: bold;
}

.section__article1 {
    margin-top: 120px;
}

.section__article2 {
    margin-top: 150px;
}

.section__article3 {
    margin-top: 150px;
}

section {
    margin-top: 17px;
}

.mot__glos {
    text-decoration: none;
    color: var(--black);
}

.dl__glos {
    margin-top: 120px;
}

.title__glos {
    font-family: var(--noto-serif);
    font-size: var(--body-1);
    color: var(--grey);
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
}

dd {
    font-family: var(--noto-serif);
    font-size: var(--body-1);
    color: var(--grey);
    margin-left: 30px;
    margin-right: 30px;
}

/* Élément de la page d'accueil */
.hero__tagline {
    position: absolute;
    width: 211px;
    height: 112px;
    left: 21px;
    top: 110px;   
    font-size: 25px;
    line-height: 34px; 
    font-weight: bold;
    color: var(--red);
}

.hero__logo {
    position: absolute;
    width: 147px;
    height: 147px;
    left: 219px;
    top: 110px;  
}

.hero__intro1 {
    position: absolute;
    width: 288px;
    height: 53px;
    left: 88px;
    top: 245px;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: var(--beige-3);
}

.hero__intro2 {
    position: absolute;
    width: 238px;
    height: 50px;
    left: 123px;
    top: 300px;
    font-size: 18px;
    font-weight: bold;
    color: var(--beige-3);
}

.hero__intro3 {
    position: absolute;
    width: 169px;
    height: 54px;
    left: 10px;
    top: 430px;
    font-size: 20px;
    font-weight: bold;
    color: var(--brown);
}

.hero__imgfond {
    margin-top: 94px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero__affserie {
    margin-top: -23px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width:50%;
    min-height:50%;
}

.hero__article1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 19.36px;
}

.hero__article2 {
    width: 100%;
    height: auto;
    margin: 11.91px 0px;
    display: flex;
    justify-content: center;
}

.hero__article3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.hero__title {
    position: absolute;
    width: 319px;
    height: 42px;
    left: 30px;
    top: 152px;
    font-weight: bold;
    font-size: 24px;
    color: var(--red);
    text-align: center;
}
.hero__title2 {
    font-weight: bold;
    font-size: 36px;
    color: var(--red);
    text-align: center;
}

.hero__fond {
    background-color: var(--beige-1);
    padding-bottom: 30px;
}

/* Articles */
.hero__text {
    margin-left: 23px;
    margin-right: 23px;
}

.art__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width:50%;
    min-height:50%;
}



/*Galerie*/
.hero__portrait {
    margin-left: 18px;
}
.hero__sub-title-gal {
    font-size: var(--sous--titre);
    color: var(--red);
    font-weight: bold;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

/* Autres Projets */ 
.ap__title {
    background-image: url(../../../public/icones/rectangle-ap-1.svg);
    background-position: left;
    padding: 10px;
    padding-bottom: 14px;
    background-repeat: no-repeat;
    color: var(--black);
    font-size: 16px;
    margin-right: 50px;
}

.ap__sub-title-d {
    background-image: url(../../../public/icones/rectangle-ap-2.svg);
    background-position: right;
    padding: 10px;
    padding-right: 30px;
    padding-bottom: 14px;
    background-repeat: no-repeat;
    color: var(--black);
    font-size: 13px;
    text-align: right;
}

.ap__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width:50%;
    min-height:50%;
}

.ap__sub-title-g {
    background-image: url(../../../public/icones/rectangle-ap-2.svg);
    background-position: left;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 14px;
    background-repeat: no-repeat;
    color: var(--black);
    font-size: 13px;
    text-align: left;
}