.menu {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  display: flex;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right : 0;
  letter-spacing: var(--letter-spacing);
  transition: all .4s ease-in-out;
  z-index: 2;
  background-color: var(--beige-3);
}

/* JavaScript */
.menu--open {
  visibility: visible;
  opacity: 1;
}

/* Mise en forme */
.menu__list {
  margin-left: -150px;
}

.link-1 {
  margin-top: 165px;
}
.menu__item {
margin-top: 10%;
}

.menu__item-pa {
  margin-top: 15%;
}

.menu__link-pa {
  display: block;
  color: var(--black);
  text-decoration: none;
  font-size: 22px;
  text-align: left;
  margin-left: -110px;
  margin-right: 37px;
}

.menu__link {
  display: block;
  color: var(--black);
  text-decoration: none;
  font-size: 22px;
  text-align: left;
  margin-left: 37px;
  margin-right: 37px;
}

.menu_line {
  width: 290px;
  background: none;
  margin-left: 37px;
  align-items: center;
  border-bottom: 1px dashed #3F3F3E;
}

.menu_line-pa {
  width: 290px;
  background: none;
  margin-left: -110px;
  align-items: center;
  border-bottom: 1px dashed #3F3F3E;
}


#menu-header {
  margin-top: 40px;
  padding-bottom: 34px;
}

/* Bouton menu */
.menu-btn {
  position: relative;
  z-index: 3;
  width: 30px;  
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
  content: '';
  background: var(--beige-3);
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 10;
  transition: all .4s ease-in-out;
}

.menu-btn__bar::before {
  top: -10px;
}

.menu-btn__bar::after {
  top: 10px;
}


.menu__start {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 80vh;
}

/* Transformation du bouton en croix */
.menu-btn--open .menu-btn__bar,
.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  transform: rotate(135deg);
  background: var(--beige-3);
}

.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  transform: rotate(90deg);
  top: 0;
}

.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar,
.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar::before,
.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar::after {
  background-color: var(--beige-3);
  
}