/* CSS de la Page d'accueil */

/* Textes */
.hero__tagline {
    position: absolute;
    width: 211px;
    height: 112px;
    left: 21px;
    top: 110px;   
    font-size: 25px;
    line-height: 34px; 
    font-weight: bold;
    color: var(--red);
}

.hero__intro1 {
    position: absolute;
    width: 288px;
    height: 53px;
    left: 88px;
    top: 245px;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: var(--beige-3);
}

.hero__intro2 {
    position: absolute;
    width: 238px;
    height: 50px;
    left: 123px;
    top: 300px;
    font-size: 18px;
    font-weight: bold;
    color: var(--beige-3);
}

.hero__intro3 {
    position: absolute;
    width: 169px;
    height: 54px;
    left: 10px;
    top: 430px;
    font-size: 20px;
    font-weight: bold;
    color: var(--brown);
}

.hero__title {
    position: absolute;
    width: 319px;
    height: 42px;
    left: 30px;
    top: 152px;
    font-weight: bold;
    font-size: 24px;
    color: var(--red);
    text-align: center;
}
.hero__title2 {
    font-weight: bold;
    font-size: 36px;
    color: var(--red);
    text-align: center;
}


/* Images */

.hero__logo {
    position: absolute;
    width: 147px;
    height: 147px;
    left: 219px;
    top: 110px;  
}

.hero__imgfond {
    margin-top: 115px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero__affserie {
    margin-top: -23px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width:50%;
    min-height:50%;
}

.hero__article1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 19.36px;
}

.hero__article2 {
    width: 100%;
    height: auto;
    margin: 11.91px 0px;
    display: flex;
    justify-content: center;
}

.hero__article3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.hero__fond {
    background-color: var(--beige-1);
    padding-bottom: 30px;
}

.video {
    max-width: 100%;
    padding-top: 30px;
}

/* Boutons de la page d'accueil */ 

.pa_btn-art {
    display: block;
    text-decoration: none;
    padding-left: 3.467vw;
    padding-right: 3.467vw;
}

.pa_btn-title {
    background-color: var(--white);
    text-align: center;
    padding-top: 0.438rem;
    padding-bottom: 0.438rem;
    font-family: var(--noto-serif);
    font-style: normal;
    font-weight: normal;
    font-size: 15.6333px;
    margin-block-end: 0rem;
    color: black;
}

.pa_btn-fig {
    display: flex;
    background-color: var(--beige-2); 
    padding-bottom: 2.813rem;
    
}

.pa_btn-img {
    width: 23.200vw;
    height: 5.332rem;
    flex: none;
    padding: 0.25rem;
}

.pa_btn-texte {
    font-family: var(--noto-serif);
    font-style: normal;
    font-weight: normal;
    font-size: 12.5px;
    text-align: left;
    margin-top: 1.5rem;
    color: black;
}

#texte {
    margin-top: 0.938rem;
}

#t2 {
    margin-top: 1.875rem;
}

#t3 {
    margin-top: 2.188rem;
}

#t1 {
    margin-top: 3.438rem;
}

#t4 {
    margin-top: 3.125rem;
}

.pa_grd-line {
    position: absolute;
    width: 62.667vw;
    height: 0.07rem;
    background: black;
    border: none;
    margin-top: 2.5rem;
    margin-left: -23.200vw;
}

.pa_btn-plus {
    position: absolute;
    font-family: var(--noto-serif);
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    margin-top: 2.188rem;
    margin-left: 42.667vw;
    text-transform: uppercase;
    color: black;

}

.pa_ptit-line {
    position: absolute;
    width: 10.400vw;
    height: 0.07rem;
    background: black;
    border: none;
    margin-top: 2.5rem;
    margin-left: 59.467vw;
}

.pa_btn-plus-en {
    position: absolute;
    font-family: var(--noto-serif);
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    margin-top: 2.188rem;
    margin-left: 41.333vw;
    text-transform: uppercase;
    color: black;
}
